﻿@*@using MyImdb.ViewModels
@model List<MovieListViewModel>*@
@{
	ViewData["Title"] = "Movies";
}

<div>
	<b> Movies List:</b>
	<br />
	<table class="table">
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Year</th>
		</tr>
		@*@foreach (var movie in Model)
		{
			<tr>
				<td>@movie.Rank</td>
				<td>@movie.Title</td>
				<td>@movie.Year</td>
			</tr>
		}*@
	</table>
	<button type="button" class="btn btn-outline-dark">Add Movie</button>
	<br>
	<br>
	<p>Click <a asp-controller="Movie" asp-action="MovieOfTheMonth">here</a> to checkout the movie of the month</p>
</div>

