﻿@{
	ViewData["Title"] = "MovieOfTheMonth";
}

<h1>MovieOfTheMonth</h1>


<div class="container mt-5">
	<div class="card">
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="~/movie-1.png" alt="Alternate Text" />
			</div>
			<div class="col-md-8 align-content-lg-center">
				<h3>@Model[0].Title</h3>
				<p>Rank: @Model[0].Rank</p>
				<p>@Model[0].Storyline</p>
				<button type="button" class="btn btn-outline-dark">Watch Trailer</button>
				<button type="button" class="btn btn-outline-dark">Add to Watchlist</button>
			</div>
		</div>
	</div>
</div>
