﻿@*@using MyImdb.ViewModels
@model List<MovieListViewModel>*@
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h3>Movies Of the Month</h3>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		@*@foreach (var mov in Model)
		{
			<div class="col">
				<div class="card shadow-sm">
					<a class="card-body" asp-area="" asp-controller="Home" asp-action="Index">
						<img class="img-thumbnail" src="movie-1.png" alt="Alternate Text" />
					</a>
					<a class="card-body d-flex justify-content-center">
						<h4>@mov.Title</h4>
					</a>
				</div>
			</div>
		}*@
	</div>
</div>
<div>
	<a asp-area="" asp-controller="Movie" asp-action="Index"><h5>View all movies</h5></a>
</div>




